.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    box-shadow: var(--box-shadow);
    background-color: var(--main-bg);
}

.topnav__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.topnav__left__logo {
    height: 40px;
    padding-left: 20px;
}

.topnav__left__logo img {
    height: 100%;
}

.topnav__left__button {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
    /* display: none; */
}

.topnav__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.topnav__right-item {
    padding-right: 20px;
}

.notification-item {
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

.notification-item:hover {
    background-color: var(--second-bg);
}

.notification-item>i {
    margin-right: 20px;
    font-size: 1.5rem;
}

.topnav__right-user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.topnav__right-user:hover {
    color: var(--main-color)
}

.topnav__right-user__name {
    font-size: 1rem;
    margin-right: 6px;
    font-weight: 600;
    /* font-style: italic; */
}

.topnav__right-user__image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;

}

.topnav__right-user__image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}